[mysqld]
# Disable query cache to reduce CPU load. It will be removed in MySQL 8.0 anyway.
query_cache_size = 0

# Goal: 80% of available server memory
# Restriction: Must be a multiple of innodb_buffer_pool_chunk_size (128M by default)
innodb_buffer_pool_size = 3072M

# The number of regions that the InnoDB buffer pool is divided into
# Constraint: innodb_buffer_pool_size / innodb_buffer_pool_instances = 1G
innodb_buffer_pool_instances = 3

# The size in bytes of each log file (for the "redo log")
# Constraint: innodb_log_file_size / (innodb_buffer_pool_size / innodb_buffer_pool_instances) = .25
innodb_log_file_size = 384M
