[mysqld]
# Disable query cache to reduce CPU load. It will be removed in MySQL 8.0 anyway.
query_cache_size = 0

# The size of the buffer pool, the memory area where InnoDB caches table and index data
# Goal: 75% of available server memory
# Constraint: Must be a multiple of innodb_buffer_pool_chunk_size (128M by default)
innodb_buffer_pool_size = 2560M

# The number of regions that the InnoDB buffer pool is divided into
# Constraint: Math.floor(innodb_buffer_pool_size / 1024M)
innodb_buffer_pool_instances = 2

# The size in bytes of each log file (for the "redo log")
# Constraint: (innodb_buffer_pool_size / innodb_buffer_pool_instances) * .375
innodb_log_file_size = 384M

# The maximum size of internal in-memory temporary tables
# Goal: Following mysqltuner recommendation
tmp_table_size = 256M

# Constraint: Same as tmp_table_size
max_heap_table_size = 256M
